.page-content {
    overflow-y: hidden;
}

.collection {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.tower {
    min-width: 90vw;
    font-size: 40px;
    flex: 1;
}

.color-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.color-list li {
    padding: 2px 60px;
    text-align: center;
}


img {
    display:none;
}
