body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: .2em;
  border-color: #3e3e3e; }

.navigation {
  background-color: #333;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center; }
  .navigation a {
    color: white;
    text-decoration: none;
    margin: 0 5px; }
  .navigation a.active {
    color: cadetblue; }

.page-content {
  width: 100%;
  position: absolute;
  max-height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0; }
  .page-content ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .page-content a {
    text-decoration: none; }
  .page-content .collection, .page-content .long-list-container, .page-content .character-page {
    overflow: auto;
    max-height: calc(100vh - 50px);
    height: calc(100vh - 50px);
    margin-bottom: 50px; }
    .page-content .collection .next-navigation, .page-content .long-list-container .next-navigation, .page-content .character-page .next-navigation {
      font-size: 10px;
      float: right;
      display: block;
      padding: 5px; }
    .page-content .collection .clear-float, .page-content .long-list-container .clear-float, .page-content .character-page .clear-float {
      clear: both; }
    .page-content .collection h1, .page-content .long-list-container h1, .page-content .character-page h1 {
      font-family: 'Cardo', serif;
      letter-spacing: .4em;
      text-align: center;
      font-weight: normal; }
    .page-content .collection h2, .page-content .long-list-container h2, .page-content .character-page h2 {
      text-align: center;
      font-size: 18px; }
    .page-content .collection ul a, .page-content .long-list-container ul a, .page-content .character-page ul a {
      color: #3e3e3e; }
      .page-content .collection ul a:hover, .page-content .long-list-container ul a:hover, .page-content .character-page ul a:hover {
        color: #111111; }
      .page-content .collection ul a li, .page-content .long-list-container ul a li, .page-content .character-page ul a li {
        text-align: center;
        padding: 10px 0; }
      .page-content .collection ul a:nth-child(odd) li, .page-content .long-list-container ul a:nth-child(odd) li, .page-content .character-page ul a:nth-child(odd) li {
        background-color: #eee; }
      .page-content .collection ul a:nth-child(even) li, .page-content .long-list-container ul a:nth-child(even) li, .page-content .character-page ul a:nth-child(even) li {
        background-color: #ddd; }
    .page-content .collection input, .page-content .long-list-container input, .page-content .character-page input {
      border: 0;
      border-bottom: 5px solid;
      border-color: #e3e3e3;
      padding: 0;
      text-align: center;
      width: 330px;
      font-size: 32px; }
      .page-content .collection input::placeholder, .page-content .long-list-container input::placeholder, .page-content .character-page input::placeholder {
        font-size: 10px; }
      .page-content .collection input:focus, .page-content .long-list-container input:focus, .page-content .character-page input:focus {
        outline: none; }
  @media screen and (min-width: 700px) {
    .page-content .long-list {
      columns: 2; } }
  @media screen and (min-width: 1000px) {
    .page-content .long-list {
      columns: 3; } }
  @media screen and (min-width: 1300px) {
    .page-content .long-list {
      columns: 4; } }
  .page-content .collection {
    display: flex;
    overflow-y: hidden; }
    .page-content .collection .tower {
      min-width: 360px;
      width: 100%;
      display: block;
      overflow: scroll; }
      .page-content .collection .tower .tower-stories {
        width: 90%;
        padding: 5%; }
        .page-content .collection .tower .tower-stories p {
          text-align: justify; }
      .page-content .collection .tower .definition h1 {
        font-size: 20px;
        font-weight: bold;
        text-align: left; }
      .page-content .collection .tower .definition p {
        font-size: 14px; }
      .page-content .collection .tower .color-list li {
        display: flex;
        align-item: center;
        justify-content: center; }
        .page-content .collection .tower .color-list li div {
          margin: 0 3px; }
        .page-content .collection .tower .color-list li img {
          height: 18px; }
        .page-content .collection .tower .color-list li .garment-svg svg {
          height: 18;
          fill: pink;
          opacity: 70%; }
    .page-content .collection .tower-photo {
      background-position: center;
      background-size: cover; }
    .page-content .collection .snow-white-photo {
      background-image: url("../images/snow-white-mini-golf-2017.jpg"); }
    .page-content .collection .minnie-photo {
      background-image: url("../images/minnieinthemirror.jpg"); }
  .page-content .character-page {
    overflow-x: hidden; }
    .page-content .character-page a {
      color: #4A75FF; }
      .page-content .character-page a :visited {
        color: #4A75FF; }
    .page-content .character-page h1 {
      margin: 0;
      padding: 0;
      font-size: 42px;
      width: 100vw; }
    .page-content .character-page h2 {
      text-decoration: underline;
      margin-bottom: 5px; }
    .page-content .character-page h3 {
      font-size: 14px;
      margin: 5px 0;
      padding: 0; }
    .page-content .character-page ul.movie-appearances a li {
      background-color: transparent;
      padding: 0; }
    .page-content .character-page .attributes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      width: 100vw; }
      .page-content .character-page .attributes .attribute-card {
        width: 90vw;
        padding: 5vw;
        flex: 1 auto; }
    .page-content .character-page .character-outfits {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden; }
      .page-content .character-page .character-outfits .character-outfit {
        margin-right: 20px; }
        .page-content .character-page .character-outfits .character-outfit .outfit-colors {
          width: 330px;
          height: 200px;
          display: flex;
          position: relative; }
          .page-content .character-page .character-outfits .character-outfit .outfit-colors .outfit-color {
            flex: 1;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center; }
            .page-content .character-page .character-outfits .character-outfit .outfit-colors .outfit-color p {
              max-height: 100%;
              max-width: 100%;
              font-size: 30px;
              padding: 0;
              margin: 0;
              text-shadow: 1px 1px #fff;
              -ms-transform: rotate(-90deg);
              /* IE 9 */
              -webkit-transform: rotate(-90deg);
              /* Safari */
              transform: rotate(-90deg);
              /* Standard syntax */ }
    .page-content .character-page .color-picker {
      width: 330px; }
      .page-content .character-page .color-picker .color-preview {
        width: 100%;
        height: 5px; }
      .page-content .character-page .color-picker .color-choices {
        display: flex;
        width: 330px; }
        .page-content .character-page .color-picker .color-choices .color-choice {
          flex: 1;
          height: 13px;
          cursor: pointer;
          text-align: center; }
    .page-content .character-page .carousel-dots {
      display: flex;
      align-items: center;
      justify-content: center; }
      .page-content .character-page .carousel-dots div {
        width: 6px;
        height: 6px;
        border-radius: 100px;
        background-color: #a4a4a4;
        margin: 8px; }

/*# sourceMappingURL=app.css.map */
