body {
    margin: 0;
    top: 80px;
    position: absolute;
    font-family: 'Quattrocento', serif;
}

a {
    text-decoration: none;
    font-family: 'Thasadith', sans-serif;
}   

h1 {
    font-family: 'Staatliches', cursive;
}

.splash {
    text-align: center;
    border-bottom: 1px solid #3e3e3e;
}

.splash h1 {
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-weight: normal;
    color: #3e3e3e;
    font-size: 132px;
}

.page-content {
    font-size: 40px;
    width: 100vw;
}

.collection {
}

.tower {
    min-width: 100vw;
    padding: 0;
    margin: 0;
    flex: 1;
}

.tower h1 {
    text-align: center;
}

.color-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.color-list li {
    padding: 18px 60px;
    text-align: center;
}

.navigation {
    position: fixed;
    top: 0px;
    font-size: 40px;
    height: 80px;
    width: 100%;
    background: #3e3e3e;
    display:flex;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

.character-page {
    text-align: center;
    width: 100%;
}

.character-page h1 {
    margin: 5px;
}

.character-page h2 {
    font-size: 50px;
    margin: 15px;
    padding: 0;
}

.character-page ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.attribute-card {
    margin: 50px;
    border-top: 1px solid #3e3e3e;;
}

.next-navigation {
    float: right;
    font-size: 33px;
    margin: 5px 30px;
}

.clear-float {
    clear: both;
}

.outfits-card .character-outfits {
    display: flex;
    overflow: scroll;
    width: 100%;
}

.character-outfit {
    width: 800px;
    margin-left: 40px;
}

.character-outfit h3 {
    text-align: left;
    font-size: 38px;
    margin: 0;
}
.outfit-colors {
    height: 500px;
    display: flex;
    width: 100%;
}

.carousel-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-dots div{
    width: 20px;
    height: 20px;
    background-color: #e3e3e3;
    border-radius: 100px;
    margin: 22px;
}

.movie-page {
    text-align: center;
}

.movie ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.movie a {
    color: #50B3D6;
}

.movie-page .long-list li{
    border-left: 13px solid #50B3D6;
    padding-left: 15px;
    margin-bottom: 15px;
}

a {
    color: #50B3D6;
}

.long-list {
    list-style: none;
    text-align: left;
}

.tower-stories p{
    padding: 30px;
}

.loading-page {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

