body {
    font-family: system-ui;
}

.next-navigation {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 10px;
}

.character-colors {
    width: 430px;
    display: flex;
    height: 200px;
}

.character-color {
    flex: 1;
    width: 50px;
    height: 200px;
}
input.large-input {
    font-size: 42px;
    width: 430px;
    border: 0;
    border-bottom: 5px solid #e3e3e3;
    text-align:center;
    margin-bottom: 3px;
}


.color-picker input:focus {
    outline: 0;
}

.color-choice {
    width: 43px;
    height: 13px;
    cursor: pointer;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0);
}

.color-choice:hover {
    color: black;
    display: flex;
    justify-content: space-around;
}

.color-preview {
    height: 5px;
    width: 430px;
    background-color: #333;
}

.color-choices {
    display: flex;
    width: 432px;
    justify-content: space-between;
}

.movie {
    padding: 10px;
    min-height: 500px;
    border: 3px solid #333;
    margin: 10px;
}

.movie input {
    font-size: 42px;
    border: 0;
    text-align: center;
    border-bottom: 5px solid #e3e3e3;
}
input.large-input::placeholder {
    font-size: 10px;
}
.movie input:focus {
    outline: 0;
}

.movie button {
    border: 0;
    width: 40px;
    height: 40px;
    background-color: #eee;
    margin:0;
    padding: 0;
}

.movie button:focus {
    outline-color: #333;
}

.movie-characters {
    display: flex;

}

.movie-characters > div {
    padding: 20px;
    border: 1px solid black;
    flex: 1;
    margin: 5px;
    height: 100%;
}

.movie ul {
    list-style: none;
    margin: 0;
}

.movie a{
    color: #333;
    text-decoration: none;
}
.movie a:hover{
    color: pink;
}
.movie a:visited{
    color: maroon;
}
.collection{
    display: flex;
    height: 100%;
    top: 0;
    left: 0;
    font-family: Helvetica;
    position: absoulte;
}

.navigation {
    background-color: #333;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.navigation a {
    color: #eee;
    text-decoration: none;
    margin: 0 5px;
}
.navigation a:hover {
    color: #ff4992;
}

.page-content {
    position: absolute;
    top: 0px;
    left: 0;
    height: calc(100% - 50px);
    overflow: scroll;
}

.character-outfits {
    display: flex;
}
.character-outfit h2 {
    font-weight: normal;
    font-size: 14px;
}
.character-outfit {
    margin-right: 10px;
}

#character-page {
    padding-left: 50px;
    min-width: 100%;
    padding-bottom: 20px;
}   
#character-page h1 {
    font-weight: normal;
    font-size: 50px;    
    margin: 4px 0;
}

ul.movie-appearances {
    list-style: none;
    margin: 0;
    padding: 0;
}

form {
    max-width: 500px;
}

.tower {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tower ul{
    margin:0;
    margin-top: 20px;
    padding: 0;
    list-style: none;
    width: 100%;
}

.tower li {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
}

.tower label {
    display: flex;
    justify-content: space-between;
    
}

.tower a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.four-columns {
    columns: 4;
    list-style: none;
}

.four-columns li {
    text-align: center;
    padding: 3px 0;
}
