$iPhoneXportrait: "only screen and (max-width : 375px)";

body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: .2em;
    border-color: #3e3e3e;
}

.navigation {
    background-color: #333;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;

    a {
        color: white;
        text-decoration: none;
        margin: 0 5px;
    }

    a.active {
        color: cadetblue;
    }
}



.page-content {
    width: 100%;
    position: absolute; 
    max-height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;


    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
    }

    .collection, .long-list-container, .character-page {
        overflow: auto;
        max-height: calc(100vh - 50px);
        height: calc(100vh - 50px);
        margin-bottom: 50px;

        .next-navigation {
            font-size: 10px;
            float: right;
            display: block;
            padding: 5px;
        }
        .clear-float {
            clear: both;
        }

        h1 {
            font-family: 'Cardo', serif;
            letter-spacing: .4em;
            text-align: center;
            font-weight: normal;
        }

        h2 {
            text-align: center;
            font-size: 18px;
        }

        ul {
            a {
                color: #3e3e3e;

                &:hover {
                    color: #111111;
                }

                li {
                    text-align: center;
                    padding: 10px 0;
                }
                &:nth-child(odd) {
                    li { background-color: #eee; }
                }
                &:nth-child(even) {
                    li { background-color: #ddd; }
                }
            }
        }
        input {
            border: 0;
            border-bottom: 5px solid;
            border-color: #e3e3e3;
            padding: 0;
            text-align: center;
            width: 330px;
            font-size: 32px;

            &::placeholder {
                font-size: 10px;
            }
            &:focus {
                outline: none;
            }
        }

    }

    .long-list {
        @media screen and (min-width: 700px) {
            columns: 2;
        }
        @media screen and (min-width: 1000px) {
            columns: 3;
        }
        @media screen and (min-width: 1300px) {
            columns: 4;
        }
    }
    .collection {
        display: flex;
        overflow-y: hidden;
        .tower {
            min-width: 360px;
            width: 100%;
            display: block;
            overflow: scroll;

            .tower-stories {
                width: 90%;
                padding: 5%;

                p {
                    text-align: justify;
                }
            }

            .definition {
                h1 {
                    font-size: 20px;
                    font-weight: bold;
                    text-align: left;
                }
                p {
                    font-size: 14px;
                }
            }

            .color-list {
                li {
                    display: flex;
                    align-item: center;
                    justify-content: center;
                    
                    a {
                        display: flex;
                        align-item: center;
                        justify-content: center;
                        margin: 8px;
                    }

                    div {
                        margin: 0 3px;
                    }

                    img {
                        height: 18px;
                    }

                    .garment-svg {
                        svg {
                            height: 18;
                            fill: pink;
                            opacity: 70%;
                        }
                    }
                }
            }
        }
        .tower-photo {
            background-position: center;
            background-size: cover;
        }
        .snow-white-photo {
            background-image: url("../images/snow-white-mini-golf-2017.jpg");
        }
        .minnie-photo {
            background-image: url("../images/minnieinthemirror.jpg");
        }
    }

    .character-page {
        overflow-x: hidden;
        a {
            color: #4A75FF;

            :visited {
                color: #4A75FF;
            }
        }

        h1 {
            margin: 0;
            padding: 0;
            font-size: 42px;
            width: 100vw;
        }
        h2 {
            text-decoration: underline;
            margin-bottom: 5px;
        }

        h3 {
            font-size: 14px;
            margin: 5px 0;
            padding: 0;
        }

        ul.movie-appearances {
            a {
                li {
                    background-color: transparent;      
                    padding: 0;
                }
            }
        }

        .attributes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            width: 100vw;
            .attribute-card {
                width: 90vw;
                padding: 5vw;
                flex: 1 auto;
            }
        }

        .character-outfits {
            display: flex; 
            overflow-x: auto;
            overflow-y: hidden;
            .character-outfit {
                margin-right: 20px;
                .outfit-colors {
                    width: 330px;
                    height: 200px;
                    display: flex;
                    position: relative;
                    .outfit-color {
                       flex: 1;
                       height: 100%;
                       display: flex;
                       justify-content: flex-start;
                       align-items: center;
                        p {
                            max-height: 100%;
                            max-width: 100%;
                            font-size: 30px;
                            padding: 0;
                            margin: 0;
                            text-shadow: 1px 1px #fff;
                            -ms-transform: rotate(-90deg); /* IE 9 */
                            -webkit-transform: rotate(-90deg); /* Safari */
                            transform: rotate(-90deg); /* Standard syntax */
                        }
                    }
                }
            }
        }
        .color-picker {
            width: 330px;
            .color-preview {
                width: 100%;
                height: 5px;
            }
            .color-choices {
                display: flex;
                width: 330px;

                .color-choice {
                    flex: 1;
                    height: 13px;
                    cursor: pointer;
                    text-align: center;
                }
            }

        }
        .carousel-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            div {
                width: 6px;
                height: 6px;
                border-radius: 100px;
                background-color: #a4a4a4;
                margin: 8px;
            }
        }
    }


}
