<div class="collection">
    <div class="logo-container tower">
        {{#link-to "start-here"}}
            <img src="https://s3-us-west-2.amazonaws.com/sarahstrawn/images/MatchTheMagic/rainbow-clear.png">
        {{/link-to}}
    </div>
    
    <div style="background-color: #E0C241;" class="tower">
        <div class='tower-stories'>
            <p>
            Do you ever find yourself at the mall and you lock eyes with the perfect garment that would work perfectly for your next Disneybound?
            So you buy it, you style it, you snap it, you post it, and then you hang it in your closet for normal everyday wear.
            Then you start to wonder, could I use this piece for any other bounds?  You start brainstorming a couple of other characters that 
            are the same color but you wish there was just a quick and simple list that you could reference?  That was the main driving force behind
            creating this website.
            </p>
            <p>
            Hi, I am Sarah, and I created Match the Magic to be the ultimate pocket guide for Disneybounders everywhere. I have always wanted a website
            like this to exist and one day I decided to stop waiting around and build it myself.  This website was the perfect project for me because
            it combines my fasicnation for web development with my passion for Disney style.  
            </p>
            <p>
            I hope that you enjoy this website and that it helps you to find fun disneybounds that are already in your closet that you did not ever realize were there!
            </p>
        </div>
    </div>
    <div style="background-color: #90CA3E;" class="tower">
        <div class='tower-stories'>
            <div class="definition">
                <h1>Disneybound</h1>
                <p>Wearing a fashionable outfit inspirped by a disney character using colorblocking, fun prints,
                and or accessories.</p>
                <p>The term was founded by Leslie Kay.</p>
            </div>
            <div class="definition">
                <h1>Match the Magic</h1>
                <p>A site created to help Disneybounders plan their next Disneybounds</p>
                <p>Search for characters sorted by {{#link-to "colors"}}Color{{/link-to}} or {{#link-to "movies"}}Movie{{/link-to}}.</p>
            </div>
        </div>
    </div>
</div>
